@import './tailwind/base.css';
@import './carbon/pre-compiled.css';
@import './tailwind/component-utility.css';
@import './font-face.css';

html {
	scroll-behavior: smooth;
	overscroll-behavior: none;
}

.legislative-process-sidebar .bx--side-nav__overlay-active {
	background-color: transparent;
}

.legislative-process-sidebar .bx--side-nav--ux {
	top: 0;
}
