@tailwind components;

@layer components {
	.accordion-content-full.bx--accordion > .bx--accordion__item > .bx--accordion__content {
		@apply p-0;
	}

	html.navbar-shown .member-tab {
		@apply top-12;
	}

	.member-aside {
		@apply transition-[top,_height] duration-[350ms] will-change-[top,_height];
	}

	html.navbar-shown .member-aside {
		@apply top-[48px] md:top-[128px] md:h-[calc(100dvh-128px)];
	}
}

@tailwind utilities;
